@mixin flex() {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar {
  position: relative;
}

.avatar__user {
  width: 4.8rem;
  height: 4.8rem;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
}

.follow__btn {
  position: absolute;
  bottom: -0.2rem;
  left: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 2.4rem;
  height: 2.4rem;
  background-color: var(--primary);
  border-radius: 50%;
  color: var(--white);
  cursor: pointer;
  transition: 0.2s;

  &.followed {
    background-color: white;
    color: var(--primary);
    border: 1px solid rgb(197, 197, 197);
  }
}

.react {
  @include flex();
  flex-direction: column;

  .react__btn {
    @include flex;
    font-size: 2.1rem;
    border-radius: 50%;
    transition: 200ms ease-in-out;
    width: 48px;
    height: 48px;
    background-color: rgba(22, 24, 35, 0.06);
    margin-top: 8px;
    margin-bottom: 6px;
    cursor: pointer;
    user-select: none;

    &.isLiked {
      color: var(--primary);
    }
  }

  .number {
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: rgba(22, 24, 35, 0.75);
    text-align: center;
    user-select: none;
  }
}

// Avatar
.avatar__user {
  width: 4.8rem;
  height: 4.8rem;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
}

// Preview
.preview {
  min-width: 25rem;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

.header {
  display: flex;
  justify-content: space-between;

  img {
    width: 4.5rem;
    height: 4.5rem;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: 1px solid var(--primary);
  }
}

.following {
  border: 1px solid rgb(197, 197, 197);
  color: rgb(60, 59, 59);
}

.body {
  padding: 1.7rem 0;
}

.nickname {
  line-height: 1;

  strong {
    font-size: 1.6rem;
    padding-right: 0.5rem;
  }

  .tick {
    color: rgb(0, 195, 255);
  }
}

.username {
  color: rgba(22, 24, 35, 0.75);
  font-size: 1.4rem;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.analysis {
  display: flex;

  span {
    font-weight: 700;
    padding-right: 0.5rem;
  }

  p {
    color: rgba(22, 24, 35, 0.75);
    font-size: 1.6rem;
  }
}
