@import 'normalize.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #fe2c55;
  --black: black;
  --white: white;

  // Header Input Color
  --search-background-color: rgba(22, 24, 35, 0.06);
  --search-icon-color: rgba(22, 24, 35, 0.4);
  --search-pseudo-color: rgba(22, 24, 35, 0.12);
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'TiktokSans', 'sans-serif';
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  overflow-y: overlay;
}

/* width */
body::-webkit-scrollbar {
  width: 0;
}

// Fonts embeded

@font-face {
  font-family: TiktokSans;
  src: url('../../../src/assets/fonts/TikTokFont-Regular.woff2');
  font-weight: 400;
}

@font-face {
  font-family: TiktokSans;
  src: url('../../../src/assets/fonts/TikTokFont-Semibold.woff2');
  font-weight: 600;
}

@font-face {
  font-family: TiktokSans;
  src: url('../../../src/assets/fonts/TikTokFont-Bold.woff2');
  font-weight: 700;
}

button {
  border: none;
  outline: none;
}

a {
  color: black;
  text-decoration: none;
}
