@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 6rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
  z-index: 10;
}

.inner__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 2.4rem;
}

.header__logo {
  @include flex;
}

// Header Search

.header__search {
  display: flex;
  align-items: center;
  width: 36rem;
  height: 4.6rem;
  padding: 1.2rem 1.6rem;
  margin: 1rem;
  background-color: var(--search-background-color);
  border-radius: 92px;
  overflow: hidden;

  &:hover {
    outline: 0.1rem solid var(--search-icon-color);
  }

  &:hover .search__find {
    background-color: var(--search-background-color);
  }
}

.search__input {
  font-size: 1.6rem;
  font-weight: 400;
  border: none;
  outline: none;
  background-color: transparent;
  caret-color: var(--primary);
  width: 95%;
}

.search__clear {
  display: none;
  border: none;
  outline: none;
  font-size: 1.4rem;
  color: var(--search-icon-color);
  padding: 1.6rem 2rem 1.6rem 1.1rem;
  cursor: pointer;
}

.search__loading {
  display: none;
  font-size: 1.4rem;
  color: var(--search-icon-color);
  padding: 1.6rem 2rem 1.6rem 1.1rem;
  cursor: pointer;
}

.search__find {
  border: none;
  outline: none;
  padding: 2rem 1.6rem 2rem 1.6rem;
  margin: -1rem -1.6rem -1rem -0.5rem;
  font-size: 1.6rem;
  color: var(--search-icon-color);
  position: relative;
  cursor: pointer;

  &::before {
    position: absolute;
    content: '';
    width: 0.5px;
    height: 50%;
    background-color: var(--search-pseudo-color);
    left: -2%;
    top: 25%;
  }
}

// Search Result
.search__result {
  width: 36rem;
}

// Account
.account {
  font-size: 1.6rem;
  padding-left: 1rem;
  color: var(--search-icon-color);
}

.all__result {
  @extend .account;
  color: var(--black);
  font-weight: 400;
}

// Fixed Icon

.getapp__btn {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  transition: .5s;
}

.fixed__btn {
  @include flex();
  font-size: 1.6rem;
  font-weight: 700;
  padding: 0.9rem 1.6rem;
  border-radius: 0.4rem;
  background-color: var(--white);
  cursor: pointer;
  user-select: none;
  border-radius: 999rem;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 8px;
  border: 1px solid rgba(22, 24, 35, 0.12);
  color: rgba(22, 24, 35, 0.75);
  transition: all .2s linear;

  &:hover {
    background-color: rgb(245, 245, 245);
  }

  &.hidden {
    font-size: .1rem;
  }

}

.qr__icon {
  padding-right: 0.8rem;
}

.more__btn {
  font-size: 2rem;
  margin: -1rem -1rem -1rem 1rem;
  padding: 1rem 1rem 1rem 1rem;
  background-color: transparent;
  cursor: pointer;
}

// More Menu
.more__menu {
  width: 24rem;
}

// Responsive
@media only screen and (max-width: 789px) {
  .header__search {
    display: none;
  }
}
