@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 6.7rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
  z-index: 10;
  background-color: white;
}

.inner__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 1rem;
}

.header__logo {
  @include flex;
}

.logo__link {
  display: flex;
}

// Action
.header__action {
  display: flex;
  align-items: center;
}

.user__avatar {
  width: 3.2rem;
  height: 3.2rem;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;

  .avatar {
    width: 100%;
  }
}

.action__btn {
  background-color: transparent;
  font-size: 2.6rem;
  color: #161823;
  cursor: pointer;
}

.upload__button {
  min-width: 110px;
  padding: 0px 16px;
  height: 36px;
  border: 1px solid rgba(22, 24, 35, 0.12);
  border-radius: 2px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background: rgb(255, 255, 255);
  cursor: pointer;
  position: relative;
  font-weight: 400;
  transition: .2s;

  .icon {
    padding-right: 1rem;
  }

  &:hover {
    background-color:  rgba(24, 24, 37, 0.02);
  }

}

.message__btn {
  position: relative;
  @extend .action__btn;
  padding: 0 1.6rem;
  margin: 0 1rem 0 0.5rem;

  .message__noti {
    position: absolute;
    top: -1rem;
    right: 0;
    padding: 0.5rem;
    font-size: 1rem;
    color: var(--white);
    background-color: var(--primary);
    border-radius: 999rem;
  }
}

.more__btn {
  font-size: 2rem;
  margin: -1rem -1rem -1rem 1rem;
  padding: 1rem 2rem 1rem 1rem;
  background-color: transparent;
  cursor: pointer;
}

// More Menu
.more__menu {
  width: 24rem;
}
