.wrapper {
  width: 100%;
  min-height: 5rem;
  max-height: 80vh;
  background-color: var(--white);
  box-shadow: rgba(0 0 0 / 12%) 0px 2px 12px;
  border-radius: 8px;
  padding: 0.8rem 0 .5rem 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.wrapper::-webkit-scrollbar {
  width: 10px; /* Độ rộng thanh cuộn dọc */
  height: 10px; /* Độ cao thanh cuộn ngang */
}

.wrapper::-webkit-scrollbar-thumb {
  background-color: var(--search-background-color); /* Màu của thanh kéo */
  border-radius: 5px; /* Bo góc thanh kéo */
}

.wrapper::-webkit-scrollbar-thumb:hover {
  background-color: var(--search-background-color); /* Màu thanh kéo khi hover */
}

.wrapper::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Màu nền của track */
  border-radius: 5px;
}
