// wrapper
.content {
  min-width: 24rem;
  display: flex;
  flex-direction: column;
  animation: fadeIn 0.3s linear;
}

.content__wrapper {
  width: 100%;
  min-height: 5rem;
  max-height: 80vh;
  background-color: var(--white);
  box-shadow: rgba(0 0 0 / 12%) 0px 2px 12px;
  border-radius: 8px;
  padding: 0.8rem 0 0.5rem 0;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu__item {
  width: 100%;
  min-height: 4.2rem;
  justify-content: left;
  margin: 0;
  font-weight: 400;
  border-radius: 0;

  &:hover {
    background-color: var(--search-background-color);
  }
}


// Header Menu

.header { 
  width: 100%;
  min-height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.back__btn {
  display: block;
  position: absolute;
  left: 1rem;
  min-width: 3rem;
  min-height: 3rem;
  font-size: 1.7rem;
  background-color: transparent;
  cursor: pointer;
}

.header__title {
  font-size: 1.7rem;
  font-weight: 500;
  user-select: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
